#Globals
*.o
.cache
*.pdf
#Bear make autocompletions json
compile_commands.json
#ex00
BraiiiiiiinnnzzzZ
#ex01
MoarBrainz!
#ex02
HiThisIsBrain
#ex03
UnnecessaryViolence
#ex04
SedIsForLoosers
*.replace
